.language__container {
    width: 320px;
    margin: 0 auto;
    margin-top: 107px;
    text-align: center;

    &_title {
        color: var(--black);
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 48px;
    }
    &_switch {
        display: flex;
        justify-content: center;
    }
    &_wrapper {
        gap: 24px;
        margin-bottom: 105px;
        & > div {
            display: flex;
            align-items: center;
            width: 224px;
            & > p {
                font-size: 20px;
                margin-right: auto;
                align-self: stretch;
                text-align: center;
            }
            &:first-child {
                margin-bottom: 24px;
            }
        }
    }
    & > button {
        text-align: center;
        margin: 0 auto;
        display: block;
    }
}
