.overlay {
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 0 8px;
}

.container__auth {
    background-color: var(--background-color-MAIN-block);
    padding: 40px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    width: 500px;
    flex-wrap: wrap;
    min-height: 680px;
    text-align: left;
}

.form__auth {
    display: flex;
    flex-wrap: wrap;
}

.wrapper__title {
    display: flex;
    gap: 40px;
    align-items: center;
    margin-bottom: 80px;
    height: fit-content;
}

.title__auth {
    color: var(--color-text);
    font-size: 36px;
    font-weight: 700;
    line-height: 150%;
}

.text__google {
    color: var(--color-text);
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 36px;
    @media (min-width: 391px) {
        margin-bottom: 40px;
    }
}

.button__google {
    background-color: transparent;
    padding: 10px 15px;
    display: flex;
    gap: 10px;
    align-items: center;
    border-radius: 5px;
    border: 1px solid var(--LIGHT_THEME-Other-text_main);
    cursor: pointer;
    color: var(--color-text);
    font-size: 20px;
    margin-bottom: 48px;
    @media (min-width: 391px) {
        margin-bottom: 60px;
    }
}

.text__form {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 36px;
    @media (min-width: 391px) {
        margin-bottom: 40px;
    }
}

.label__auth {
    width: 100%;
    display: inline-block;
    margin-bottom: 48px;
    position: relative;
    &:last-of-type {
        margin-bottom: 80px;
    }

    &.label__modal {
        margin-bottom: 60px;
    }

    &.textarea {
        height: 94px;
    }
}

.input__auth {
    color: var(--OTHER-inactive_text);
    font-size: 18px;
    width: 100%;
    padding: 10px 15px;
    padding-right: 40px;
    border-radius: 5px;
    background-color: transparent;
    border: 1px solid var(--OTHER-inactive_text);
    &:focus {
        outline: transparent;
    }
    &.create {
        width: 100%;
        padding: 20px 24px;
    }
    &.textarea {
        width: 100%;
        padding: 20px 24px;
        background-color: transparent;
        font-family: Roboto, sans-serif;
        resize: none;
        overflow-x: hidden;

        &::-webkit-scrollbar {
            width: 1px;
        }
        &::-webkit-scrollbar-thumb {
            background-color: rgba(0, 0, 0, 0);
        }

        &::-webkit-scrollbar-thumb:hover {
            background-color: rgba(0, 0, 0, 0);
        }
    }
}

.error__auth {
    position: absolute;
    right: 15px;
    top: 10.5px;
}

.okey__auth {
    position: absolute;
    right: 15px;
    top: 18px;
}

.focus__block {
    background-color: var(--color-accent);
    color: var(--background-other);
    border-radius: 3px;
    padding: 2px 5px;
    font-size: 10px;
    font-weight: 500;
    position: absolute;
    top: -20%;
    left: 15px;
}

.text__error {
    color: red;
    font-size: 16px;
    position: absolute;
    top: 110%;
    gap: 2px;
}

.wrapper__buttons {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.button__next {
    color: var(--color-text);
    font-size: 20px;
    font-weight: 500;
    line-height: 150%;
    padding: 4px 20px;
    border: transparent;
    background: var(--color-accent);
    border-radius: 10px;
    width: fit-content;
    cursor: pointer;
}

.button__forgot {
    color: var(--color-text);
    font-size: 10px;
    font-weight: 500;
    line-height: 150%;
    padding: 2px 10px;
    border: 1px solid var(--LIGHT_THEME-Other-text_main);
    background: var(--background-other);
    border-radius: 10px;
    width: fit-content;
    cursor: pointer;
}

.button__show {
    background-color: transparent;
    border-color: transparent;
    position: absolute;
    top: 30%;
    right: 7px;
    cursor: pointer;
}
@mixin button-style($color) {
    font-size: 14px;
    background-color: transparent;
    border-color: transparent;
    text-decoration-line: underline;
    cursor: pointer;
    color: $color;
}
.forgot__password {
    &__error {
        @include button-style(red);
    }

    &__info {
        @include button-style(var(--color-text-main));
    }
}

.text__confirm {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 40px;
    text-align: center;
}

.text__modal {
    font-size: 24px;
    font-weight: 600;
    color: var(--black);
    text-align: center;
    margin-bottom: 80px;
}

.body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    & > h3 {
        text-align: center;
    }
}
