.profile {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 8px 80px 8px;

    &.mobile {
        padding: 0;
        justify-content: center;
        @media (min-width: 391px) {
            padding: 20px 0;
        }
    }

    &_container {
        width: 1040px;
        display: flex;
        gap: 52px;
        flex-wrap: nowrap;
        height: 600px;
        &.mobile {
            justify-content: center;
        }
        @media (max-width: 520px) {
            height: 755px;
        }
    }

    &_sections {
        background: rgba(234, 234, 234, 0.7);
        border-radius: 20px;
        padding: 24px 32px;
        padding-right: 70.6px;
        display: inline-block;
        &.mobile {
            padding: 20px 40px;
            width: 100%;
            @media (min-width: 420px) and (max-width: 1280px) {
                width: 390px;
            }
        }

        ul > li {
            display: flex;
            align-items: center;
            gap: 10px;
            font-size: 24px;
            color: var(--LIGHT_THEME-Other-text_main);
            line-height: 150%;
            cursor: pointer;

            &:not(:last-child) {
                margin-bottom: 32px;
            }

            a {
                display: flex;
                align-items: center;
                gap: 10px;
                font-weight: 400;
                font-size: 24px;
                color: var(--LIGHT_THEME-Other-text_main);
                line-height: 150%;
                font-weight: 500;
                cursor: pointer;

                &:hover {
                    svg > g > path {
                        fill: var(--OTHER-accent);
                    }
                    svg > path {
                        fill: var(--OTHER-accent);
                    }
                    color: var(--OTHER-accent);
                }
                &.active {
                    color: var(--OTHER-accent);
                    svg > g > path {
                        fill: var(--OTHER-accent);
                    }
                    svg > path {
                        fill: var(--OTHER-accent);
                    }
                }
            }
        }
    }

    &_section {
        background: rgba(234, 234, 234, 0.7);
        border-radius: 20px;
        padding: 20px 8px;
        flex: 1;
        text-align: center;
        @media (min-width: 420px) and (max-width: 520px) {
            width: 390px;
            padding: 20px 8px;
            flex: none;
        }
        @media (min-width: 520px) and (max-width: 871px) {
            width: 500px;
            flex: none;
        }
        @media (min-width: 871px) {
            padding: 24px 60px 80px;
        }

        & > h2 {
            color: var(--LIGHT_THEME-Other-text_main);
            font-size: 32px;
            font-weight: 700;
            line-height: 150%;
            text-align: center;
        }

    }
    &_wrapper {
        display: flex;
        align-items: center;
        & > button {
            position: absolute;
            background-color: transparent;
            border: transparent;
            cursor: pointer;
        } 
        & > h2 {
            margin: 0 auto;
        }
    }
}

.title {
    text-align: center;
    font-size: 36px;
    margin: 38px 0 28px 0;
    line-height: 150%;

    &.mobile {
        font-size: 32px;
        margin: 0 0 48px 0;
    }
}
