.container__groups {
    height: 550px;
    width: 100%;
    padding-right: 12px;
    overflow-y: auto;
    position: relative;

    &::-webkit-scrollbar {
        width: 6px;
        max-height: 8px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: var(--LIGHT_THEME-Other-text_main); 
        border-radius: 10px; 
    }
    &::-webkit-scrollbar-track {
        border-radius: 10px; 
        background-color: #DADADA; 
    }
}

.item__group {
    width: 100%;
    &:not(:last-child) {
        margin-bottom: 10px;
    }
}

.group {
    display: flex;
    color: var(--LIGHT_THEME-Other-text_main);
    flex-wrap: nowrap;
    gap: 20px;
    align-items: center;
    padding: 8px 0;
    background-color: transparent;
    border: transparent;
    width: 100%;
    cursor: pointer;
    &.books:hover {
        color: var(--ROOMS-Books-dark);
    }
    &.games:hover {
        color: var(--ROOMS-Games-dark);
    }
    &.cinema:hover {
        color: var(--ROOMS-Cinema-dark);
    }
    &.music:hover {
        color: var(--ROOMS-Music-dark);
    }
}

.group__avatar {
    width: 30px;
    height: 30px;
    border-radius: 49%;
}

.group__text {
    font-size: 16px;
    @media screen and (min-width:370px) and (max-width: 871px) {
        font-size: 20px;
    }
    font-weight: 600;
    line-height: 150%;
    &.books {
        color: var(--ROOMS-Books-dark);
    }
    &.games {
        color: var(--ROOMS-Games-dark);
    }
    &.cinema {
        color: var(--ROOMS-Cinema-dark);
    }
    &.music {
        color: var(--ROOMS-Music-dark);
    }
}
