
.container__groups {
    max-height: 550px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding-right: 24px;
    overflow-y: auto;
    position: relative;

    &::-webkit-scrollbar {
        width: 6px;
        max-height: 8px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: var(--black); 
        border-radius: 10px; 
    }
    &::-webkit-scrollbar-track {
        background-color: #DADADA; 
    }
}

.item__group {
    width: 100%;
}

.group {
    display: flex;
    color: var(--black);
    flex-wrap: nowrap;
    gap: 20px;
    align-items: center;
    padding: 8px 0;
    background-color: transparent;
    border: transparent;
    width: 100%;
    cursor: pointer;
    &:hover {
        border-radius: 5px;
        color: #61C9A8;
    }
}

.group__avatar {
    width: 30px;
    height: 30px;
    border-radius: 49%;
}

.group__text {
    font-size: 16px;
    font-weight: 600;
    line-height: 150%;
}
