
.container__groups {
    height: 550px;
    width: 100%;
    padding-right: 12px;
    overflow-y: auto;
    position: relative;

    &::-webkit-scrollbar {
        width: 6px;
        max-height: 8px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: var(--black); 
        border-radius: 10px; 
    }
    &::-webkit-scrollbar-track {
        background-color: #DADADA; 
    }
}

.item__group {
    width: 100%;
    &:not(:last-child) {
        margin-bottom: 10px;
    }
}

.group {
    display: flex;
    color: var(--black);
    flex-wrap: nowrap;
    gap: 20px;
    align-items: center;
    padding: 8px 0;
    background-color: transparent;
    border: transparent;
    width: 100%;
    cursor: pointer;
    &.books:hover {
        color: #CC9C00;
    }
    &.games:hover {
        color: #C00;
    }
    &.cinema:hover {
        color: #349878;
    }
    &.music:hover {
        color: #8B03C9;
    }
}

.group__avatar {
    width: 30px;
    height: 30px;
    border-radius: 49%;
}

.group__text {
    font-size: 16px;
    font-weight: 600;
    line-height: 150%;
}
