.container__chat {
    max-height: 528px;
    padding: 8px 20px;
    width: 100%;
    background-color: var(--color--button);
    gap: 8px;
    overflow-y: auto;

    &::-webkit-scrollbar {
        width: 1px; 
    }
    
    &::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0);
    }
    
    &::-webkit-scrollbar-thumb:hover {
        background-color: rgba(0, 0, 0, 0);
    }
}