.container__chat {
    max-height: 544px;
    padding: 8px 20px;
    width: 100%;
    background: var(--button--color);
    gap: 8px;
    overflow-y: auto;
    &.books {
        background: rgba(238, 215, 140, 0.70);
    }
    &.games {
        background: rgba(242, 181, 181, 0.70);
    }
    &.cinema {
        background: rgba(179, 220, 207, 0.70);
    }
    &.music {
        background: rgba(223, 184, 241, 0.70);
    }

    &::-webkit-scrollbar {
        width: -20px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0);
        width: -20px;
    }

    &::-webkit-scrollbar-thumb:hover {
        background-color: rgba(0, 0, 0, 0);
        width: -20px;
    }

    @media screen and (max-width: 871px) {
        padding: 8px;
    }
}
