.link__logo {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 8px 0;
}

.logo__name {
    color: var(--LIGHT_THEME-Other-text_main);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
}

.wrapper__logo {
    align-items: center;
    display: flex;
    gap: 24px;
    position: relative;
}

.navigation__input {
    height: 42px;
    border-radius: 12px;
    width: 360px;
    padding: 12px 16px;
    padding-right: 36px;
    background: transparent;
    border: var(--OTHER-inactive_text) 1px solid;
    color: var(--OTHER-inactive_text);
    font-size: 16px;
    &:focus {
        outline: transparent;
    }
    &.open {
        border-radius: 12px 12px 0px 0px;
    }
}

.search__button {
    background-color: transparent;
    border-color: transparent;
    position: absolute;
    right: 10px;
}

.list__chats {
    position: absolute;
    background-color: #eaeaea;
    right: 0;
    top: 80%;
    width: 360px;
    padding: 12px 16px;
    border: var(--OTHER-inactive_text) 1px solid;
    border-top: 0;
    border-radius: 0px 0px 12px 12px;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    & > li {
        width: 100%;
        & > button {
            cursor: pointer;
            display: flex;
            width: 100%;
            background-color: transparent;
            border: transparent;
            color: var(--LIGHT_THEME-Other-text_main);
            align-items: center;
            gap: 8px;
            & > img {
                width: 20px;
                height: 20px;
                border-radius: 50%;
            }
            & > p {
                font-size: 12px;
                font-family: 500;
            }
        }
    }
}

.navigation__link {
    display: flex;
    align-items: center;
    gap: 24px;
    cursor: pointer;
    & > .icons__width {
        height: 18px;
    }
}

.link__button {
    background-color: transparent;
    border-color: transparent;
    display: flex;
    gap: 10px;
}

.avatar__user {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.mobile__button {
    cursor: pointer;
    background-color: transparent;
    border: transparent;
}

.menu__container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(234, 234, 234, 0.7);
    z-index: 999;
    text-align: right;
    padding: 50px 16px 16px;
    @media (min-width: 391px) {
        padding: 16px 16px;
    }
    & > button {
        margin-bottom: 27.5px;
    }
    & > div {
        display: flex;
        flex-wrap: wrap;
        gap: 27.5px;
        & > button {
            width: 100%;
            background-color: transparent;
            border: transparent;
            & > a {
                display: flex;
                gap: 12px;
                align-items: center;
                justify-content: right;
                flex-wrap: nowrap;
                &:not(:last-child) {
                    margin-bottom: 32px;
                }
                & > p {
                    color: var(--LIGHT_THEME-Other-background_light);
                    font-size: 14px;
                    font-weight: 400;
                    padding: 2px 8px;
                    border-radius: 4px;
                    background-color: #7b34d8;
                }
            }
        }
    }
}
