.welcome {
    width: 100%;
    background-color: #b3dccf;
    gap: 60px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 277.5px 79px;
    @media screen and (min-width: 871px) and (max-width: 1105px) {
        padding: 277.5px 0px;
    }
    @media screen and (max-width: 871px) {
        padding: 143px 20px;
        border-radius: 0px;
    }
    &.books {
        background-color: #eed78c;
    }
    &.games {
        background-color: #f2b5b5;
    }
    &.cinema {
        background-color: #b3dccf;
    }
    &.music {
        background-color: #dfb8f1;
    }
    &__title {
        color: var(--LIGHT_THEME-Other-text_main);
        font-size: 32px;
        font-weight: 700;
        line-height: 150%;
    }
    &__text {
        color: var(--LIGHT_THEME-Other-text_main);
        font-size: 20px;
        font-weight: 400;
        line-height: 150%;
        @media screen and (max-width: 871px) {
            margin-bottom: 200px;
        }
    }
    &__span {
        color: var(--LIGHT_THEME-Other-text_main);
        font-size: 20px;
        font-weight: 700;
        line-height: 150%;
    }
    & > div {
        display: flex;
        gap: 20px;
        width: 162px;
        flex-wrap: wrap;
        justify-content: center;
        & > span {
            text-align: center;
            font-size: 14px;
            line-height: 150%;
        }
    }
}
