.container__chatGroups {
    display: flex;
    max-width: 307px;
    flex-wrap: wrap;
    gap: 24.5px;
    padding: 16px 20px;
    height: fit-content;
    border-radius: 20px;
    background-color: var(--color--button);
}