.container__chatGroups {
    display: flex;
    max-width: 307px;
    flex-wrap: wrap;
    gap: 24.5px;
    padding: 16px 20px;
    height: fit-content;
    border-radius: 20px;
    background-color: rgba(234, 234, 234, 0.70);
    @media screen and (max-width: 871px) {
        max-width: 100%;
        border-radius: 0px;
    }
}