.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 2;
}
.window {
    background-color: var(--background-other);
    padding: 80px 60px;
    border-radius: 20px;
    position: relative;
    width: 420px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    @media (max-width: 460px) {
        width: 100%;
    }

    &.information {
        padding: 40px 32px;
        @media screen and (max-width: 500px){
            width: fit-content;
            padding: 40px 20px;
        }
    }

    &.create__chat {
        gap: 60px;
        width: 800px;
        @media screen and (max-width: 871px) {
            padding: 80px 12px;
            width: 480px;
        }
        @media screen and (max-width: 500px) {
            width: 370px;
        }
    }
    &.delete {
        width: 650px;
    }
    &.reset {
        width: 555px;
    }

    &.full__image {
        padding: 0;
        border-radius: 5px;
        background-color: transparent;
        height: 60%;
        & > img {
            border-radius: 10px;
        }
        & > button {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 5px;
            border-radius: 20px;
            background-color: black;
            & > svg > path {
                fill: white;
            }
        }
    }
}

.close {
    position: absolute;
    top: 16px;
    right: 16px;
    background-color: transparent;
    border-color: transparent;
    cursor: pointer;

    & > svg > path {
        fill: var(--color-text);
    }
}
