.container__chatGroups {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    height: fit-content;
    max-width: 706px;
    @media screen and (min-width: 871px) and (max-width: 1105px) {
        max-width: 500px;
    }
    @media screen and (max-width: 871px) {
        max-width: 100%;
        gap: 0;
        & > div {
            border-top: 1px solid  var(--background-other);
        }
    }
}
