.overlay {
  justify-content: center;
  align-items: center;
  display: flex;
}

.container__auth {
  background-color: var(--background-form-auth);
  padding: 40px;
  text-align: center;
  border-radius: 20px;
  flex-wrap: wrap;
  width: 420px;
  min-height: 680px;
  text-align: left;
}

.form__auth {
  display: flex;
  flex-wrap: wrap;
}

.wrapper__title {
  display: flex;
  gap: 40px;
  align-items: center;
  margin-bottom: 80px;
  height: -moz-fit-content;
  height: fit-content;
}

.title__auth {
  color: var(--black);
  font-size: 36px;
  font-weight: 700;
  line-height: 150%;
}

.text__google {
  color: var(--black);
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 40px;
}

.button__google {
  background-color: transparent;
  padding: 10px 15px;
  display: flex;
  gap: 10px;
  align-items: center;
  border-radius: 5px;
  border: 1px solid var(--black);
  cursor: pointer;
  color: var(--black);
  font-size: 20px;
  margin-bottom: 60px;
}

.text__form {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 40px;
}

.label__auth {
  width: 100%;
  margin-bottom: 48px;
  position: relative;
}
.label__auth:last-of-type {
  margin-bottom: 80px;
}

.input__auth {
  color: var(--gray);
  font-size: 18px;
  width: 87%;
  padding: 10px 15px;
  padding-right: 40px;
  border-radius: 5px;
  border: 1px solid var(--gray);
}
.input__auth:focus {
  outline: transparent;
}

.error__auth {
  position: absolute;
  right: 15px;
  top: 10.5px;
}

.okey__auth {
  position: absolute;
  right: 15px;
  top: 18px;
}

.focus__block {
  background-color: var(--button-up);
  color: var(--color--button);
  border-radius: 3px;
  padding: 2px 5px;
  font-size: 10px;
  font-weight: 600;
  position: absolute;
  top: -20%;
  left: 15px;
}

.text__error {
  color: red;
  font-size: 14px;
  position: absolute;
  top: 110%;
}

.wrapper__buttons {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.button__next {
  color: var(--color--button);
  font-size: 20px;
  font-weight: 600;
  line-height: 150%;
  padding: 4px 47px;
  border: transparent;
  background: var(--button-up);
  border-radius: 10px;
  width: -moz-fit-content;
  width: fit-content;
  font-weight: 600;
  cursor: pointer;
  display: block;
}

.button__forgot {
  color: var(--black);
  font-size: 10px;
  font-weight: 600;
  line-height: 150%;
  padding: 2px 10px;
  border: 1px solid var(--black);
  background: var(--color--button);
  border-radius: 10px;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
}

.button__show {
  background-color: transparent;
  border-color: transparent;
  position: absolute;
  top: 30%;
  right: 7px;
  cursor: pointer;
}

.forgot__password {
  color: var(--black);
  font-size: 14px;
  position: absolute;
  top: 110%;
  left: 0;
  background-color: transparent;
  border-color: transparent;
  text-decoration-line: underline;
  cursor: pointer;
}

.forgot__password__error {
  color: red;
  font-size: 14px;
  background-color: transparent;
  border-color: transparent;
  text-decoration-line: underline;
  cursor: pointer;
}

.overlay__modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2;
}

.widnow__mondal {
  background-color: #eeebf1;
  padding: 80px 60px;
  border-radius: 20px;
  position: relative;
  width: 420px;
}

.close__modal {
  position: absolute;
  top: 16px;
  right: 16px;
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
}

.text__modal {
  font-size: 24px;
  font-weight: 600;
  color: var(--black);
  text-align: center;
  margin-bottom: 80px;
}/*# sourceMappingURL=Sign.module.css.map */