.reset__container {
    margin-top: 45px;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;

    & > form {
        width: 420px;
        @media (max-width: 520px) {
            width: 100%;
        }
        flex-wrap: wrap;
        text-align: center;
        & > .wrapper__photo {
            margin-bottom: 32px;
            & > label {
                position: relative;
                & > input {
                    width: 100px;
                    height: 80px;
                    border-radius: 50%;
                    opacity: 0;
                }
            }
        }
        & > label {
            width: 100%;
            display: block;
            margin-bottom: 48px;
            position: relative;
            &:last-of-type {
                margin-bottom: 45px;
            }
        }
    }
}

.modal {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    & > h2 {
        color: var(--LIGHT_THEME-Other-text_main);
        font-size: 24px;
        line-height: 150%;
        margin-bottom: 20px;
    }

    & > p {
        font-size: 18px;
        line-height: 150%;
        color: var(--OTHER-inactive_text);
        margin-bottom: 40px;
    }
}

.data__user {
    position: relative;
    margin-bottom: 48px;
    &_last {
        margin-bottom: 45px;
        @media (max-width: 520px) {
            margin-bottom: 96px;
        }
    }

    & > div {
        color: var(--OTHER-inactive_text);
        text-align: left;
        font-size: 18px;
        width: 100%;
        padding: 7px 15px;
        padding-right: 40px;
        border-radius: 5px;
        background-color: transparent;
        border: 1px solid var(--OTHER-inactive_text);
        
        &:focus {
            outline: transparent;
        }
        
        & > p {
            font-size: 18px;
        }
    }
}


.delete__button {
    color: var(--LIGHT_THEME-Other-text_main);
    font-size: 18px;
    line-height: 150%;
    text-align: left;
    background-color: transparent;
    border: transparent;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.error {
    position: absolute;
    right: 15px;
    top: 10.5px;
}

.okey {
    position: absolute;
    right: 15px;
    top: 18px;
}

.focus {
    background-color: var(--OTHER-accent);
    color: var(--LIGHT_THEME-Other-background_light);
    border-radius: 3px;
    padding: 2px 5px;
    font-size: 10px;
    font-weight: 600;
    position: absolute;
    top: -20%;
    left: 15px;
}

.text__error {
    color: var(--OTHER-invalid);
    font-size: 14px;
    position: absolute;
    top: 110%;
}

.button__show {
    background-color: transparent;
    border-color: transparent;
    position: absolute;
    top: 30%;
    right: 7px;
    cursor: pointer;
}

.edit__button {
    background-color: transparent;
    border: transparent;
    position: absolute;
    right: 12px;
    top: 8.5px;
    cursor: pointer;
}
