.container__chatInformation {
    display: flex;
    flex-wrap: wrap;
    gap: 27px;
    padding: 38px 0 80px 0;
    justify-content: center;
    @media screen and (max-width: 871px) {
        padding: 0;
    }
}

.width {
    @media screen and (max-width: 871px) {
        width: 100%;
    }
}

.chats__footer {
    background-color: var(--LIGHT_THEME-Other-background_light);
    text-align: center;
    justify-content: center;
    padding: 34px 0;
}

.footer__icon {
    width: 68px;
    height: 48px;
}
