.container__chatInformation {
    display: flex;
    flex-wrap: wrap;
    gap: 27px;
    padding: 22px 0 47px 0;
    justify-content: center;
}

.chats__footer {
    background-color: var(--background-color-chat);
    text-align: center;
    justify-content: center;
    padding: 34px 0;
}

.footer__icon {
    width: 68px;
    height: 48px;
}