.form {
    &__message {
        display: flex;
        flex-wrap: nowrap;
        gap: 16px;
        padding: 8px 20px;
        border-radius: 0 0 20px 20px;
        background-color: var(--color--button);
        width: 100%;
        align-items: center;
        height: 100%;
        @media screen and (max-width: 871px) {
            border-radius: 0;
        }
    }
}
.emoji_container {
    position: relative;
}
.emoji_picker {
    position: absolute;
    bottom: 40px;
    left: 0;
    @media screen and (max-width: 420px) {
        & > aside {
            width: 250px;
            height: 350px;
        }
    }
}

.wrapper__input {
    width: 100%;
    position: relative;
    & > div {
        height: 28px;
        position: absolute;
        display: flex;
        gap: 8px;
        top: -65%;
        width: 100%;
        align-items: center;
        padding: 8px 16px;
        border-radius: 12px;
        background-color: #C7C7C7;
        & > svg {
            width: 10px;
            height: 10px;
        }
        & > p {
            color: #616161;
            font-size: 14px;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        & > button {
            background-color: transparent;
            border: transparent;
            margin-left: auto;
            & > svg {
                width: 12px;
                height: 12px;
                cursor: pointer;
            }
        }
    }
}

.input__message {
    width: 100%;
    background-color: transparent;
    font-family: Inter;
    font-size: 16px;
    line-height: 24px;
    padding: 10.5px 16px;
    border-color: transparent;
    color: var(--black);
    caret-color: var(--black);
    border-radius: 12px;
    background-color: #C7C7C7;
    &:focus {
        outline: none;
    }
}

.button__message {
    border-color: transparent;
    background-color: transparent;
    cursor: pointer;
}

.wrapper__icon {
    display: flex;
    gap: 8px;
}

.add__photo {
    cursor: pointer;
    background-color: transparent;
    border: transparent;
    & > label {
        position: relative;
        & > input {
            width: 20px;
            height: 21px;
            position: absolute;
            opacity: 0;
        }
    }
}
