.form {
    &__message {
        display: flex;
        flex-wrap: nowrap;
        gap: 16px;
        padding: 8px 20px;
        border-radius: 0 0 20px 20px;
        background-color: var(--LIGHT_THEME-Other-background_light);
        width: 100%;
        align-items: center;
        height: 100%;
        @media screen and (max-width: 871px) {
            border-radius: 0;
        }
    }
}
.emoji_container {
    position: relative;
}
.emoji_picker {
    position: absolute;
    bottom: 40px;
    left: 0;
    @media screen and (max-width: 420px) {
        & > aside {
            width: 250px;
            height: 350px;
        }
    }
}

.wrapper__input {
    width: 100%;
    position: relative;
    & > div {
        height: 28px;
        position: absolute;
        overflow: hidden;
        display: flex;
        gap: 8px;
        top: -65%;
        width: 100%;
        align-items: center;
        padding: 8px 16px;
        border-radius: 12px;
        white-space: pre-line;
        background-color: var(--LIGHT_THEME-Other-text_second);
        & > svg {
            width: 10px;
            height: 10px;
        }
        & > p {
            color: var(--OTHER-inactive_text);
            font-size: 14px;
            overflow: hidden;
            text-overflow: ellipsis;
            position: absolute;
            left: 35px;
            width: calc(100% - 70px);
            top: 12.5%;
        }
        & > button {
            background-color: transparent;
            border: transparent;
            margin-left: auto;
            & > svg {
                width: 12px;
                height: 12px;
                cursor: pointer;
            }
        }
    }
}

.input__message {
    width: 100%;
    height: 45.6px;
    background-color: transparent;
    font-family: Inter;
    font-size: 16px;
    line-height: 24px;
    padding: 10.5px 16px;
    border-color: transparent;
    color: var(--LIGHT_THEME-Other-text_main);
    caret-color: var(--LIGHT_THEME-Other-text_main);
    border-radius: 12px;
    background-color: var(--LIGHT_THEME-Other-text_second);
    resize: none;
    overflow-y: scroll;
    &::-webkit-scrollbar {
        background-color: rgba(0, 0, 0, 0);
    }

    &::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0);
    }

    &::-webkit-scrollbar-thumb:hover {
        background-color: rgba(0, 0, 0, 0);
    }
    &:focus {
        outline: none;
    }
}

.button__message {
    border-color: transparent;
    background-color: transparent;
    cursor: pointer;
}

.wrapper__icon {
    display: flex;
    gap: 8px;
}

.add__photo {
    cursor: pointer;
    background-color: transparent;
    border: transparent;
    & > label {
        position: relative;
        & > input {
            width: 20px;
            height: 21px;
            position: absolute;
            opacity: 0;
        }
    }
}
