.form {
    &__message {
        display: flex;
        flex-wrap: nowrap;
        gap: 16px;
        padding: 8px 20px;
        border-radius: 0 0 20px 20px;
        background-color: var(--color--button);
        width: 100%;
        align-items: center;
        height: 100%;
        @media screen and (max-width: 871px) {
            border-radius: 0;
        }
    }
}
.emoji_container {
    position: relative;
}
.emoji_picker {
    position: absolute;
    bottom: 40px;
    left: 0;
}

.input__message {
    width: 100%;
    background-color: transparent;
    font-family: Inter;
    font-size: 16px;
    line-height: 24px;
    padding: 10.5px 16px;
    border-color: transparent;
    color: var(--black);
    caret-color: var(--black);
    border-radius: 12px;
    background-color: var(--background-color-chat);
    &:focus {
        outline: none;
    }
}

.button__message {
    border-color: transparent;
    background-color: transparent;
    cursor: pointer;
}

.wrapper__icon {
    display: flex;
    gap: 8px;
}

.add__photo {
    cursor: pointer;
    background-color: transparent;
    border: transparent;
    & > label {
        position: relative;
        & > input {
            width: 20px;
            height: 21px;
            position: absolute;
            opacity: 0;
        }
    }
}
