.header__user {
    background-color: transparent;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 40px 16px 16px;

    @media (min-width: 391px) {
        padding: 5px 16px;
    }
    @media (min-width: 1280px) {
        padding: 5px 80px;
    }
    &.authenticated {
        background-color: var(--background-other);
    }
}
