.header__user {
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    padding: 40px 16px 16px;

    @media (min-width: 391px) {
        padding: 5px 40px;
    }
    @media (min-width: 768px) {
        padding: 5px 80px;
    }
    &.authenticated {
        background-color: #EAEAEA;
    }
}
