.logout__container {
    text-align: center;
    width: 320px;
    @media (max-width: 360px) {
        width: 100%;
    }
    margin: 0 auto;
    margin-top: 120px;

    p {
        color: var(--color-text);
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 48px;
    }
    &_modal {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        & > h2 {
            color: var(--color-text);
            font-size: 24px;
            line-height: 150%;
            margin-bottom: 20px;
        }

        & > p {
            font-size: 18px;
            line-height: 150%;
            color: var(--OTHER-inactive_text);
            margin-bottom: 40px;
        }
    }
}
