.container__information {
    background-color: var(--color--button);
    display: flex;
    padding: 12px 20px;
    justify-content: left;
    gap: 20px;
    flex-wrap: wrap;
    border-radius: 20px 20px 0px 0px;
    width: 100%;
}
.group {
    display: flex;
    flex-wrap: nowrap;
    gap: 16px;
    align-items: center;
    padding-left: 0;
    background-color: transparent;
    border: transparent;
    width: 100%;
}

.group__avatar {
    width: 49px;
    height: 49px;
    border-radius: 49%;
}
.group__name {
    font-size: 20px;
    font-weight: 700;
    line-height: 150%;
    margin-right: auto;
}

.group__button__more {
    background-color: transparent;
    border-color: transparent;
    cursor: pointer;
}

.group__text {
    color: #212121;
    font-size: 16px;
    line-height: 150%;
}

.group__additional {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.time__additional {
    font-size: 16px;
    line-height: 150%;
}

.container__button {
    display: flex;
    gap: 12px;
}

.button__additional {
    background-color: transparent;
    border-color: transparent;
    cursor: pointer;
}

.close__modal {
    position: absolute;
    top: 16px;
    right: 16px;
    background-color: transparent;
    border-color: transparent;
    cursor: pointer;
}

.group__avatar__modal {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: block;
    margin: 0;
    margin-bottom: 20px;
    display: inline-block;
}
.group__name__modal {
    font-size: 24px;
    font-weight: 700;
    line-height: 150%;
    margin-right: auto;
}

.group__modal {
    gap: 20px;
    text-align: center;
    margin-bottom: 40px;
    width: 100%;
}