.button {
  --background: transparent;
  --hover: transparent;
  --color: #eaeaea;
  display: inline-block;
  padding: 12px 44px;
  justify-content: center;
  color: var(--color);
  align-items: center;
  border: none;
  border-radius: 10px;
  background-color: var(--background);
  cursor: pointer;
  font-size: 16px;
  transition: all 500ms;

  &:hover {
    background-color: var(--hover);
    transform: scale(1.05);
  }

  &.default {
    --background: var(--LIGHT_THEME-Other-text_main);
    --hover: var(--OTHER-inactive_text);
  }

  &.accent {
    --background: var(--OTHER-accent_light);
    --hover: var(--OTHER-accent);
  }

  &.google {
    background-color: transparent;
    padding: 10px 15px;
    display: flex;
    gap: 10px;
    align-items: center;
    border-radius: 5px;
    border: 1px solid var(--LIGHT_THEME-Other-text_main);
    cursor: pointer;
    color: var(--LIGHT_THEME-Other-text_main);
    font-size: 20px;
    margin-bottom: 60px;
  }

  &.disabled {
    --background: var(--disabled-button-background);
    --hover: var(--disabled-button-background);
    --color: var(--disabled-button-color);
    cursor: not-allowed;
    opacity: 0.7;
    transform: none;
  }
}
