.button {
  --background: transparent;
  --hover: transparent;
  display: inline-block;
  padding: 12px 44px;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 10px;
  background-color: var(--background);
  cursor: pointer;
  font-size: 16px;
  transition: all 500ms;

  &:hover {
    background-color: var(--hover);
    transform: scale(1.05);
  }

  &.default {
    --background: #212121;
    --hover: #616161;
  }

  &.accent {
    --background: #B187E8;
    --hover: #7B34D8;
  }

  &.google {
    background-color: transparent;
    padding: 10px 15px;
    display: flex;
    gap: 10px;
    align-items: center;
    border-radius: 5px;
    border: 1px solid var(--black);
    cursor: pointer;
    color: var(--black);
    font-size: 20px;
    margin-bottom: 60px;
  }

  &.disabled {
    --background: #616161;
    --hover: #616161;
    cursor: not-allowed;
    opacity: 0.7;
    transform: none;
  }
}
