.theme__container {
    margin-top: 125px;
    @media (max-width: 520px) {
        margin-top: 75px;
    }
    text-align: left;
    &_wrapper {
        gap: 80px;
        margin-bottom: 105px;
        display: flex;
        justify-content: center;
        @media (max-width: 520px) {
            margin-bottom: 75px;
            flex-wrap: wrap;
            gap: 48px;
        }
        & > div {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            & > img {
                border-radius: 15px;
                margin-bottom: 24px;
                @media (max-width: 520px) {
                    margin-bottom: 18px;
                }
            }
            & > .wrapper__option {
                display: flex;
                gap: 20px;
                align-items: center;
                @media (max-width: 520px) {
                    width: 100%;
                    justify-content: center;
                }

                & > p {
                    font-size: 20px;
                    font-weight: 400;
                    line-height: 150%;
                }
            }
        }
    }
    & > button {
        text-align: center;
        margin: 0 auto;
        display: block;
    }
}
