#root {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-height: 100vh;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background: url(./assets/background_image@1x.png) 100%;
    @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background: url(./assets/background_image@2x.png) 100%;
    }
    @media screen and (min-width: 768px) {
        background: url(./assets/background_image@1x.png)  100%;
        @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
            background: url(./assets/background_image@2x.png) 100%;
        }
    }
    @media screen and (min-width: 1280px) {
        background: url(./assets/background_image@1x.png)  100%;
        @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
            background: url(./assets/background_image@2x.png)  100%;
        }
    }
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    flex-grow: 1;
    @media screen and (min-width: 376px) {
        width: 100%;
    }
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-sizing: border-box;
    color: var(--active-color);
    &.padding {
        padding-bottom: 20px;
    }
    &.books {
        background: url(./assets/background_books@1x.png);
        @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
            background: url(./assets/background_books@1x.png);
        }
    }
    &.cinema {
        background: url(./assets/background_cinema@1x.png);
        @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
            background: url(./assets/background_cinema@1x.png);
        }
    }
    &.music {
        background: url(./assets/background_music@1x.png);
        @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
            background: url(./assets/background_music@1x.png);
        }
    }
    &.games {
        background: url(./assets/background_games@1x.png);
        @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
            background: url(./assets/background_games@1x.png);
        }
    }
}
