#root {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-height: fit-content;
}

.container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 1280px;
    padding-bottom: 0;
    background-color: #EBE8FA;
    background-image: url(./assets/background_image@1x.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-sizing: border-box;
    color: var(--active-color);
    @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(./assets/background_image@2x.png);
    }
    @media screen and (min-width: 768px) {
        background-image: url(./assets/background_image@1x.png);
        @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
            background-image: url(./assets/background_image@2x.png);
        }
    }
    @media screen and (min-width: 1280px) {
        background-image: url(./assets/background_image@1x.png);
        @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
            background-image: url(./assets/background_image@2x.png);
        }
    }
}
