:root {
  font-family: Roboto, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #242424;
  background-color: #EBE8FA;
  border-radius: 50px;
  --ROOMS-Cinema-dark: #349878;
  --ROOMS-Cinema-main: #61C9A8;
  --ROOMS-Cinema-light: #B3DCCF;
  --ROOMS-Cinema-extra_light: #BED1CB;
  --ROOMS-Books-dark: #CC9C00;
  --ROOMS-Books-main: #F5BB00;
  --ROOMS-Books-light: #EED78C;
  --ROOMS-Books-extra_light: #CDC5AD;
  --ROOMS-Music-dark: #8B03C9;
  --ROOMS-Music-main: #D06EFD;
  --ROOMS-Music-light: #DFB8F1;
  --ROOMS-Music-extra_light: #D9C9E0;
  --ROOMS-Games-dark: #C00;
  --ROOMS-Games-main: #F66;
  --ROOMS-Games-light: #F2B5B5;
  --ROOMS-Games-extra_light: #E0C6C6;
  --OTHER-accent: #7B34D8;
  --OTHER-accent_light: #B187E8;
  --LIGHT_THEME-Other-background_light: #EAEAEA;
  --LIGHT_THEME-Other-text_second: #A1A1A1;
  --OTHER-inactive_text: #616161;
  --LIGHT_THEME-Other-text_main: #212121;
  --OTHER-invalid: #D83434;
  --OTHER-valid: #2CA129;
  --background-color-MAIN-block: rgba(234, 234, 234, 0.70);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

a {
    font-weight: 600;
    color: #646cff;
    text-decoration: inherit;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

label {
  margin: 0;
}

input{ 
  padding: 0;
  background-color: var(--LIGHT_THEME-Other-background_light);
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
button {
  margin: 0;
  padding: 0;
}
