:root {
    font-family: Roboto, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    background-color: #ebe8fa;
    border-radius: 50px;
    --ROOMS-Cinema-dark: #349878;
    --ROOMS-Cinema-main: #61c9a8;
    --ROOMS-Cinema-extra_light: #bed1cb;
    --ROOMS-Books-dark: #cc9c00;
    --ROOMS-Books-main: #f5bb00;
    --ROOMS-Books-extra_light: #cdc5ad;
    --ROOMS-Music-dark: #8b03c9;
    --ROOMS-Music-main: #d06efd;
    --ROOMS-Music-extra_light: #d9c9e0;
    --ROOMS-Games-main: #f66;
    --ROOMS-Games-extra_light: #e0c6c6;
    --OTHER-accent: #7b34d8;
    --OTHER-accent_light: #b187e8;
    --LIGHT_THEME-Other-background_light: #eaeaea;
    --LIGHT_THEME-Other-text_second: #c7c7c7;
    --LIGHT_THEME-Other-text_main: #212121;
    --OTHER-invalid: #d83434;
    --OTHER-valid: #2ca129;

    --ROOMS-Cinema-dark: #349878;
    --ROOMS-Cinema-main: #61C9A8;
    --ROOMS-Books-dark: #cc9c00;
    --DARK_THEME-Music-dark: #ad6bcb;
    --DARK_THEME-Music-light: #AD6BCB;
    --DARK_THEME-Games-dark: #d28181;
    --DARK_THEME-Games-light: #D28181;
    --DARK_THEME-Other-background_dark: #2c374c;
    --DARK_THEME-Other-text_dark: #212121;
    --DARK_THEME-Other-background_del_mess: #a1a1a1;
    --DARK_THEME-Other-scrollbar: #ccc;
    --DARK_THEME-Other-text_light: #eaeaea;
    --OTHER-accent: #7b34d8;
    --ROOMS-Music-main: #d06efd;
    --OTHER-background_2: rgba(44, 55, 76, 0.70);
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

a {
    font-weight: 600;
    color: #646cff;
    text-decoration: inherit;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

label {
    margin: 0;
}

input {
    padding: 0;
    background-color: var(--LIGHT_THEME-Other-background_light);
    margin: 0;
}

ul,
ol {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
button {
    margin: 0;
    padding: 0;
}
