.block {
    padding: 20px 24px;
    border-radius: 12px;
    width: 100%;
    background-color: var(--background-other);
    &__up {
        display: flex;
        gap: 16px;
        align-items: center;
        margin-bottom: 20px;
        @media screen and (max-width: 500px) {
            gap: 12px;
        }
        & > img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            @media screen and (max-width: 500px) {
                width: 40px;
                height: 40px;
            }
        }
        & > a {
            font-size: 20px;
            line-height: 150%;
            color: var(--color-text);
            @media screen and (max-width: 500px) {
                font-size: 18px;
            }
        }
        & > h2 {
            font-size: 20px;
            line-height: 150%;
            color: var(--color-text);
            @media screen and (max-width: 500px) {
                font-size: 18px;
            }
        }
    }
    & > p {
        font-size: 16px;
        margin-bottom: 20px;
        @media screen and (max-width: 500px) {
            margin-bottom: 16px;
        }
    }
    &__below {
        display: flex;
        & > span {
            font-size: 12px;
            font-weight: 500;
            margin-right: auto;
        }
        & > div {
            display: flex;
            gap: 12px;
            & > div {
                display: flex;
                gap: 2px;
                font-size: 12px;
                align-items: center;
            }
        }
    }
}